@font-face {
  font-family: 'Dongguk';
  src: url('/res/font/dongguk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fonts */
.dongguk {font-family:'Dongguk', sans-serif;}